#login-container {
    min-height: 560px;
    max-height: 700px;
    width:100%;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(10, 1fr);
}

#page-name {
    grid-column-start: 3;
    grid-column-end: 9;
    font-size: 32px;
    margin-top: 30px;
}

#input1 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 9;
}

#input2 {
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 8;
}

#input1header {
    padding-top: 30px;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

#input2header {
    padding-top: 30px;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;
}

#messageToUser {
    grid-row-start:2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#sign-up-container {
    text-decoration: underline;
    padding-top: 30px;
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 8;
}

#sign-up {
    cursor: pointer;
}

.btn {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 10;
}